body{
    background: url(../images/back.jpg) no-repeat center center fixed;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(59, 59, 59);
    text-shadow: black 1px 0 10px;;
    font-size: 30px;
    background-size: cover;
    transition: 1.5s;
}
#tetel, #nev{
    width: 80vw;
    margin: 0 auto;
    display: block;
}
.txtcntr{
    text-align: center;
}
select{
    font-size: 30px;
}
#modify{
    display: none;
}
#felelogomb, #modositogomb{
    width: 80vw;
    height: 5vh;
    margin: 0 auto;
    display: block;
    margin-top: 30px!important;
    border-radius: 25px;
    font-size: 30px;
}
#vissza{
    width: 80vw;
    height: 5vh;
    margin: 0 auto;
    display: block;
    margin-top: 10px!important;
    border-radius: 25px;
    font-size: 30px;
}

#adat2Inp{
    width: 40vw;
    margin: 0 auto;
    display: block;
    border-radius: 25px;
    font-size: 20px;
    padding: 15px 15px 15px;
    height: 65vh;
}
#adat1Inp{
    width: 40vw;
    margin: 0 auto;
    display: block;
    border-radius: 25px;
    font-size: 20px;
    padding: 15px 15px 15px;
    height: 65vh;
}
#felelogomb, #vissza{
    background-color: cornflowerblue;
    color: whitesmoke;
}
.sutiBtn{

    border-radius: 25px;
    font-size: 25px;
    padding: 10px 15px 10px 15px;
    margin: 15px 10px 0 10px;
}
:root {
    --arrow-bg: rgb(102, 102, 102);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: rgb(102, 102, 102);
    --select-bg: rgb(255, 255, 255);
  }
.sutiDiv, .presetLoaders{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
select{
    border-radius: 25px;
    padding: 15px 20px 15px 20px;

}
#nevPresetSelect, #presetSelect{
    width: 90%;
}
p{
    font-size: 40px;
}




